<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 数据库基本操作 -->
<mapper namespace="cn.orditech.dao.impl.DepartmentDaoImpl">
    <sql id="columnMap">
            id as id,
            code as code,
            name as name,
            gmt_create as gmtCreate,
            gmt_modified as gmtModified
    </sql>

    <insert id="insert" parameterType="cn.orditech.entity.Department">
        INSERT INTO `department` (
            id ,
            code ,
            name ,
            gmt_create ,
            gmt_modified 
        ) VALUES (
            #{id} ,
            #{code} ,
            #{name} ,
            #{gmtCreate} ,
            #{gmtModified} 
        )
    </insert>

    <delete id="delete">
        DELETE FROM `department`
        WHERE
            id = #{id} 
    </delete>
    
    <update id="update" parameterType="cn.orditech.entity.Department">
        UPDATE `department` 
        SET
            code = #{code} ,
            name = #{name} ,
            gmt_create = #{gmtCreate} ,
            gmt_modified = #{gmtModified} 
        WHERE
            id = #{id} 
    </update>
    
    <update id="updateSelective" parameterType="cn.orditech.entity.Department">
        UPDATE `department`
        SET
            id = #{id} 
            <if test="code!=null" >,code = #{code}</if>
            <if test="name!=null" >,name = #{name}</if>
            <if test="gmtCreate!=null" >,gmt_create = #{gmtCreate}</if>
            <if test="gmtModified!=null" >,gmt_modified = #{gmtModified}</if>
        WHERE 
            id = #{id} 
    </update>
    
    <select id="selectOne" resultType="cn.orditech.entity.Department">
        SELECT <include refid="columnMap"></include>
        FROM `department`
        WHERE 
            id = #{id} 
    </select>
    
    <select id="selectList" resultType="cn.orditech.entity.Department">
        SELECT <include refid="columnMap"></include>
        FROM `department`
        WHERE 1=1
            <if test="id!=null" > AND id = #{id}</if>
            <if test="code!=null" > AND code = #{code}</if>
            <if test="name!=null" > AND name = #{name}</if>
            <if test="gmtCreate!=null" > AND gmt_create = #{gmtCreate}</if>
            <if test="gmtModified!=null" > AND gmt_modified = #{gmtModified}</if>
    </select>
</mapper>

